* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    font-size: 1.7em;
    background-color: rgb(188, 227, 227);
    border: none;
    border-radius: 15px;
    color: rgb(92, 77, 77);
    text-decoration: none;
    font-family: sans-serif;
    margin: 10px;
    padding: 16px;
    cursor: pointer;
    width: 200px;
}

.button-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 8px 8px 4px #888888;
    margin-left: 120px;
    padding: 0;
}

div {
    background-color: white;
}

#style1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#style1::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

#style1::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

.rainbow {
    animation: rainbow 20s linear infinite;
    background-color: yellow;
}

@keyframes rainbow {
    0%, to {
        background:violet
    }
    25% {
        background:orange
    }
    50% {
        background:#ff0
    }
    75% {
        background:#00f
    }
}
